:root {
    --font-family: 'Poppins', 'Uni Sans', 'Arial', sans-serif;
    --primary-color: #3498db; 
    --secondary-color: #99aab5;
    --background-color: #2c2f33;
    --sidebar-color: #23272a;
    --text-color: #ffffff;
}

body.light-mode{
        --background-color: #faf9f6;
        --sidebar-color: #e0e0e0;
        --text-color: #000000;
        --primary-color: #3498db;
        --secondary-color: #d2ffe5;
}

body {
    background-color: var(--background-color);
    font-family: var(--font-family), sans-serif;
    color: var(--text-color);
    margin: 0;
    padding: 0;
    display: flex;
    flex-direction: column;
    height: 100vh;
}

header {
    display: flex;
    flex-direction: column;
    padding: 2dvh 2dvw;
    background-color: var(--sidebar-color);
}

header > hgroup {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 1rem;
}

header form {
    display: flex;
    align-items: center;
}

.container {
    display: flex;
    flex-grow: 1;
    width: 80%;
}

nav {
    display: flex;
    flex-direction: column;
    gap: 1rem;
    padding: 1rem;
    background-color: var(--sidebar-color);
    width: fit-content;
    height: 100%;
}

nav a {
    color: var(--text-color);
    text-decoration: none;
    padding: 0.5rem 1rem;
    border-radius: 0.25rem;
}

nav a:hover {
    background-color: var(--primary-color);
}

main {
    flex-grow: 1;
    padding: 1rem;
    background-color: var(--background-color);
    margin: 0;
}

footer {
    text-align: center;
    padding: 1rem;
    background-color: var(--sidebar-color);
    color: var(--text-color);
}

h1 {
    font-size: 2rem;
}

p {
    font-size: 1rem;
}

main form {
    display: flex;
    flex-direction: column;
    gap: 1rem;
    width: 30vw;
    margin: auto;
    border: 1px solid var(--secondary-color);
    padding: 1rem;
    border-radius: 0.25rem;
    background-color: var(--sidebar-color);
}
main input, main textarea, main button {
    padding: 0.5rem;
    font-size: 1rem;
    max-width: 100%;
    background-color: #40444b;
    border: 1px solid var(--secondary-color);
    color: var(--text-color);
    border-radius: 0.25rem;
}

main input:focus, main textarea:focus {
    border: 2px solid var(--primary-color);
    outline: none;
}

body.light-mode main input, body.light-mode main textarea {
    background-color: #ffffff;
    color: #000000;
    border: 1px solid var(--secondary-color);
}

body.light-mode main input:focus, body.light-mode main textarea:focus {
    border: 2px solid var(--primary-color);
    outline: none;
}

main button {
    background-color: var(--primary-color);
    border: none;
    cursor: pointer;
    margin-top: 2rem;
    padding: 1.5rem;
}

main button:hover {
    transform: scale(1.025);
}

main output {
    display: block;
    margin-top: 0.5rem;
    color: rgb(255, 75, 75);
}

main #info-message {
    color: rgb(75, 155, 75);
}

nav a {
    color: var(--text-color);
    text-decoration: none;
}

nav a:hover {
    transform: scale(1.1);
}

a.button {
    display: inline-block;
    padding: 0.5rem 1rem;
    font-size: 1rem;
    color: #fff;
    background-color: var(--primary-color);
    border: none;
    border-radius: 0.25rem;
    text-align: center;
    text-decoration: none;
    cursor: pointer;
}

a.button:hover {
    background-color: var(--secondary-color);
}

input:required, textarea:required, body.light-mode input:required, body.light-mode textarea:required{
    border: 2px solid #3498db;
}

input:user-invalid, textarea:user-invalid, body.light-mode input:user-invalid, body.light-mode textarea:user-invalid {
    border: 2px solid rgb(255, 75, 75);
    content: 'Fill out this field correctly.';
    display: block;
}

input:valid, textarea:valid, body.light-mode input:valid, body.light-mode textarea:valid {
    border: 2px solid rgb(75, 155, 75);
    content: 'This field is filled out correctly.';
    display: block;
}

section {
    margin-bottom: 2rem;
}

section img, section iframe {
    display: block;
    margin: 1rem auto;
    max-width: 100%;
    height: 50vh;
}

@media (max-width: 600px) {
    .container {
        flex-direction: column;
    }

    nav {
        width: fit-content;
        flex-direction: row;
        justify-content: space-around;
        height: auto;
    }

    header {
        flex-direction: column;
    }

    nav {
        flex-direction: row;
        justify-content: space-around;
        width: 100%;
        padding: 0.5rem 0;
    }

    nav a {
        padding: 0.5rem;
    }
}